.forms-wrapper{
    width: 70% !important;
    margin: 0 auto !important;
}
.register-form{
    height: 100%;
    width: 50% !important;
    margin : 0 auto !important;
}
.register-form input::-webkit-input-placeholder{
    color: black !important; 
}
.register-form div{
    padding-top: 15px;
}

.register-form button{
    margin-top: 15px !important;
}

.form-err{
    color: red;
    font-size: 1.2rem;
}