.ui.huge.header{
    font-size: 3.0rem !important;
}

.new-posts-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.0rem;
    margin-top: 3.0rem;
}

.book-title{
    font-size: 20px !important;
}

.book-author{
    font-size: 18px;
}

.date-tag{
    margin-top: 2.0rem !important;
    margin-bottom: 1.0rem !important;
}

.learn-more-btn{
    width: 100% !important;
}

.title-divider{
    margin-bottom: 2.0rem !important;
}