footer {
    padding-top: 5.2rem;
    padding-bottom: 2rem;
    color: rgba(255, 255, 255, 0.4);
    background-color: #19191b;
}

footer a {
    color: #FFFFFF;
}

footer h4 {
    font-family: "metropolis-bold", sans-serif;
    font-size: 1.4rem;
    line-height: 1.286;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #FFFFFF;
    position: relative;
    display: inline;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

footer h4::after {
    content: "";
    display: block;
    height: 1px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-links-list {
    list-style: none;
    margin-left: 0;
    padding-top: 2rem;
}

.footer-links-list a {
    color: rgba(255, 255, 255, 0.4);
}

.footer-links-list li {
    padding-left: 0;
    display: inline;
    padding-right: 2rem;
}


@media only screen and (max-width:1200px) {
    .footer-links {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width:600px) {
    footer {
        padding-top: 7.8rem;
    }
    .footer-links {
        text-align: center;
    }
    .footer-links {
        margin-bottom: 4.2rem;
    }
}