.entry.first {
    background-image: url('./images/featured-books.jpg')
}
.entry.second {
    background-image: url('./images/featured-articles.jpg')
}
.entry.third {
    background-image: url('./images/featured-art.jpg')
}

.featured {
    background-color: #151515;
    height: 424px;
    position: relative;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 3.5rem;
}

.featured::before,
.featured::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 50%;
}

.featured::before {
    left: -75px;
}

.featured::after {
    right: -75px;
}

.featured-column {
    float: left;
}

.featured .entry {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.featured .entry h1 {
    font-size: 2.6rem;
    line-height: 1.333;
    margin-top: 0;
    margin-bottom: 3rem;
}

.featured .entry h1 a {
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.featured .entry h1 a:focus,
.featured .entry h1 a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.featured .entry::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: .5;
    background-color: #151515;
}

.featured .entry:hover::before {
    opacity: .8;
}

.featured .article-content {
    position: absolute;
    left: 0;
    bottom: 6rem;
    width: 100%;
    padding: 0 20% 0 6rem;
    display: block;
}

.featured .article-category {
    display: inline-block;
    font-family: "metropolis-bold", sans-serif;
    font-size: 1.1rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2.4rem;
}

.featured .article-category a {
    display: inline-block;
    color: #FFFFFF;
    padding: 0 1.5rem;
}

.featured .article-info {
    position: relative;
}

.featured .entry-meta {
    list-style: none;
    margin: 0 0 0 6rem;
    padding: 0;
    font-family: "metropolis-semibold", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
}

.featured .entry-meta li {
    display: inline-block;
    padding-left: 0;
}

.featured .entry-meta li::after {
    content: '\2022';
    margin-left: 9px;
    margin-right: 6px;
}

.featured .entry-meta li:last-child::after {
    display: none;
}

.featured-column-big {
    width: 66.66666%;
    position: relative;
    border: 5px white solid;
}

.featured-column-big .entry {
    height: 424px;
}

.featured-column-big .article-category a {
    background-color: #01aef0;
}

.featured-column-small {
    width: 33.333333333%;
    position: relative;
    border: 5px white solid;
}

.featured-column-small .entry {
    height: 212px;
}

.featured-column-small .entry h1 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.featured-column-small .article-content {
    bottom: 2.4rem;
    padding: 0 10% 0 3rem;
}

.featured-column-small .article-category {
    font-size: 1.0rem;
    line-height: 2.1rem;
    margin-bottom: 1.5rem;
}

.featured-column-small .article-category a {
    background-color: #01aef0;
}

.featured-column-small .entry-meta {
    margin: 0;
    font-size: 1.0rem;
}
.featured-column-big .entry-meta {
    margin: 0;
    font-size: 1.5rem;
}

@media only screen and (max-width:1400px) {
    .pageheader-content {
        padding: 0;
    }
    .featured::before,
    .featured::after {
        display: none;
    }
}

@media only screen and (max-width:1200px) {
    .featured {
        height: auto;
    }
    .featured-column-big .entry {
        height: 522px;
    }
    .featured-column-big .entry h1 {
        font-size: 3.2rem;
    }
    .featured-column-small .entry {
        height: 261px;
    }
}

@media only screen and (max-width:1000px) {
    .featured-column-big {
        width: 60%;
    }
    .featured-column-big .entry {
        height: 504px;
    }
    .featured-column-big .entry h1 {
        font-size: 3rem;
    }
    .featured-column-big .article-content {
        padding: 0 10% 0 4.2rem;
    }
    .featured-column-small {
        width: 40%;
    }
    .featured-column-small .entry {
        height: 252px;
    }
}

@media only screen and (max-width:900px) {
    .pageheader-content {
        max-width: 780px;
    }
    .featured-column {
        float: none;
        width: 100%;
    }
    .featured-column-big .entry {
        height: 468px;
    }
    .featured-column-small:after {
        content: "";
        display: table;
        clear: both;
    }
    .featured-column-small .entry {
        height: 300px;
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width:800px) {
    .featured-column .entry {
        height: 360px;
    }
    .featured-column .entry h1 {
        font-size: 2.8rem;
        margin-bottom: 3rem;
    }
    .featured-column .article-content {
        bottom: 5.4rem;
        padding: 0 10% 0 4.2rem;
    }
    .featured-column-small .entry {
        float: none;
        width: 100%;
    }
    .featured-column-small .entry:last-child {
        display: none;
    }
    .featured-column-small .article-category {
        font-size: 1.1rem;
        line-height: 2.4rem;
        margin-bottom: 2.4rem;
    }
    .featured-column-small .entry-meta {
        margin: 0 0 0 6rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width:700px) {
    .pageheader-content {
        max-width: 540px;
    }
}

@media only screen and (max-width:600px) {
    .pageheader-content {
        max-width: 500px;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .featured-column .entry {
        height: 330px;
    }
    .featured-column .entry h1 {
        font-size: 2.6rem;
        margin-bottom: 1.5rem;
    }
    .featured-column .article-content {
        bottom: 4.2rem;
        padding: 0 3rem 0;
    }
    .featured-column .article-category {
        font-size: 1rem;
        line-height: 2.1rem;
        margin-bottom: 1.5rem;
    }
    .featured-column .entry-meta {
        margin: 0rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:500px) {
    .featured-column .entry h1 {
        font-size: 2.4rem;
    }
    .featured .article-content {
        bottom: 3.6rem;
    }
    .featured .entry-meta {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:400px) {
    .featured-column .entry {
        height: 288px;
    }
    .featured-column .entry h1 {
        font-size: 2rem;
    }
    .featured .article-content {
        bottom: 3rem;
        padding: 0 2.4rem 0;
    }
}
